[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"
rope = "*"
fabric3 = "*"

[packages]
requests = ">=2.20.0"
Flask = "==1.0.2"
prettyconf = "*"

[requires]
python_version = "3.6"
